In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from uszipcode import Zipcode
from uszipcode import SearchEngine

import warnings
warnings.filterwarnings('ignore')

In [42]:
data = pd.read_csv('just tacos and burritos.csv')

In [43]:
data.head()

,id,address,categories,city,country,cuisines,dateAdded,dateUpdated,keys,latitude,...,Unnamed: 226,Unnamed: 227,Unnamed: 228,Unnamed: 229,Unnamed: 230,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,US,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,us/ks/atchison/610commercialst/-138126000,39.561570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,US,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,us/ks/atchison/610commercialst/-138126000,39.561570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,US,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,us/grayson/patterson/9521mortondavisdr/-522005016,37.401855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,US,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,us/niwot/longmont/10550wi25frontagerd/-1161002137,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,US,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,us/bicentennial/losangeles/8495w3rdst/-251199537,34.080724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
for column in data.columns:
    print(column)

id
address
categories
city
country
cuisines
dateAdded
dateUpdated
keys
latitude
longitude
menuPageURL
menus.amountMax
menus.amountMin
menus.category
menus.currency
menus.dateSeen
menus.description
menus.name
name
postalCode
priceRangeCurrency
priceRangeMin
priceRangeMax
province
websites
Unnamed: 26
Unnamed: 27
Unnamed: 28
Unnamed: 29
Unnamed: 30
Unnamed: 31
Unnamed: 32
Unnamed: 33
Unnamed: 34
Unnamed: 35
Unnamed: 36
Unnamed: 37
Unnamed: 38
Unnamed: 39
Unnamed: 40
Unnamed: 41
Unnamed: 42
Unnamed: 43
Unnamed: 44
Unnamed: 45
Unnamed: 46
Unnamed: 47
Unnamed: 48
Unnamed: 49
Unnamed: 50
Unnamed: 51
Unnamed: 52
Unnamed: 53
Unnamed: 54
Unnamed: 55
Unnamed: 56
Unnamed: 57
Unnamed: 58
Unnamed: 59
Unnamed: 60
Unnamed: 61
Unnamed: 62
Unnamed: 63
Unnamed: 64
Unnamed: 65
Unnamed: 66
Unnamed: 67
Unnamed: 68
Unnamed: 69
Unnamed: 70
Unnamed: 71
Unnamed: 72
Unnamed: 73
Unnamed: 74
Unnamed: 75
Unnamed: 76
Unnamed: 77
Unnamed: 78
Unnamed: 79
Unnamed: 80
Unnamed: 81
Unnamed: 82
Unnamed: 83
Unnamed: 84
Unnamed: 85
Unnamed: 86
Unnamed: 87
Unnamed: 88
Unnamed: 89
Unnamed: 90
Unnamed: 91
Unnamed: 92
Unnamed: 93
Unnamed: 94
Unnamed: 95
Unnamed: 96
Unnamed: 97
Unnamed: 98
Unnamed: 99
Unnamed: 100
Unnamed: 101
Unnamed: 102
Unnamed: 103
Unnamed: 104
Unnamed: 105
Unnamed: 106
Unnamed: 107
Unnamed: 108
Unnamed: 109
Unnamed: 110
Unnamed: 111
Unnamed: 112
Unnamed: 113
Unnamed: 114
Unnamed: 115
Unnamed: 116
Unnamed: 117
Unnamed: 118
Unnamed: 119
Unnamed: 120
Unnamed: 121
Unnamed: 122
Unnamed: 123
Unnamed: 124
Unnamed: 125
Unnamed: 126
Unnamed: 127
Unnamed: 128
Unnamed: 129
Unnamed: 130
Unnamed: 131
Unnamed: 132
Unnamed: 133
Unnamed: 134
Unnamed: 135
Unnamed: 136
Unnamed: 137
Unnamed: 138
Unnamed: 139
Unnamed: 140
Unnamed: 141
Unnamed: 142
Unnamed: 143
Unnamed: 144
Unnamed: 145
Unnamed: 146
Unnamed: 147
Unnamed: 148
Unnamed: 149
Unnamed: 150
Unnamed: 151
Unnamed: 152
Unnamed: 153
Unnamed: 154
Unnamed: 155
Unnamed: 156
Unnamed: 157
Unnamed: 158
Unnamed: 159
Unnamed: 160
Unnamed: 161
Unnamed: 162
Unnamed: 163
Unnamed: 164
Unnamed: 165
Unnamed: 166
Unnamed: 167
Unnamed: 168
Unnamed: 169
Unnamed: 170
Unnamed: 171
Unnamed: 172
Unnamed: 173
Unnamed: 174
Unnamed: 175
Unnamed: 176
Unnamed: 177
Unnamed: 178
Unnamed: 179
Unnamed: 180
Unnamed: 181
Unnamed: 182
Unnamed: 183
Unnamed: 184
Unnamed: 185
Unnamed: 186
Unnamed: 187
Unnamed: 188
Unnamed: 189
Unnamed: 190
Unnamed: 191
Unnamed: 192
Unnamed: 193
Unnamed: 194
Unnamed: 195
Unnamed: 196
Unnamed: 197
Unnamed: 198
Unnamed: 199
Unnamed: 200
Unnamed: 201
Unnamed: 202
Unnamed: 203
Unnamed: 204
Unnamed: 205
Unnamed: 206
Unnamed: 207
Unnamed: 208
Unnamed: 209
Unnamed: 210
Unnamed: 211
Unnamed: 212
Unnamed: 213
Unnamed: 214
Unnamed: 215
Unnamed: 216
Unnamed: 217
Unnamed: 218
Unnamed: 219
Unnamed: 220
Unnamed: 221
Unnamed: 222
Unnamed: 223
Unnamed: 224
Unnamed: 225
Unnamed: 226
Unnamed: 227
Unnamed: 228
Unnamed: 229
Unnamed: 230
Unnamed: 231
Unnamed: 232
Unnamed: 233
Unnamed: 234
Unnamed: 235

In [45]:
columns_to_drop = []
for column in data.columns:
    if "unnamed" in column.lower():
        columns_to_drop.append(column)
data = data.drop(columns_to_drop, axis=1)

In [46]:
data.columns

Index(['id', 'address', 'categories', 'city', 'country', 'cuisines',
       'dateAdded', 'dateUpdated', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.category',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'name', 'postalCode', 'priceRangeCurrency', 'priceRangeMin',
       'priceRangeMax', 'province', 'websites'],
      dtype='object')

In [47]:
print(data[:5])

                     id                   address  \
0  AVwc__cikufWRAb51QjV         610 Commercial St
1  AVwc__cikufWRAb51QjV         610 Commercial St
2  AVwc__dF_7pvs4fz1Ncy      9521 Morton Davis Dr
3  AVwc__kCByjofQCxkdm-  10550 W I 25 Frontage Rd
4  AVwc__WtByjofQCxkdkR             8495 W 3rd St

                                          categories         city country  \
0  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison      US
1  Restaurant Delivery Service,Restaurants,Pizza,...     Atchison      US
2       Golf Course, American Restaurant, and Resort    Patterson      US
3                               Fast Food Restaurant     Longmont      US
4  Mexican Restaurant Mid-City West,Mexican Resta...  Los Angeles      US

                      cuisines             dateAdded           dateUpdated  \
0  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
1  Restaurant Delivery Service  2016-03-02T11:49:34Z  2017-02-01T18:04:44Z
2                          NaN  2016-10-14T01:58:25Z  2016-10-14T01:58:25Z
3                          NaN  2016-09-09T17:30:34Z  2016-10-04T05:15:17Z
4                      Mexican  2016-05-19T11:50:25Z  2016-09-11T00:06:37Z

                                                keys   latitude  ...  \
0          us/ks/atchison/610commercialst/-138126000  39.561570  ...
1          us/ks/atchison/610commercialst/-138126000  39.561570  ...
2  us/grayson/patterson/9521mortondavisdr/-522005016  37.401855  ...
3  us/niwot/longmont/10550wi25frontagerd/-1161002137        NaN  ...
4   us/bicentennial/losangeles/8495w3rdst/-251199537  34.080724  ...

         menus.dateSeen                                  menus.description  \
0  2017-02-01T18:04:44Z                                                NaN
1  2016-03-02T11:49:34Z  Beef, onion, cheddar cheese, lettuce,  refried...
2  2016-10-14T01:58:25Z  Beef barbacoa or chicken, spanish rice, pico d...
3  2016-09-09T17:30:34Z                                                NaN
4  2016-05-19T11:50:25Z  Wahoo, avocado, cabbage, pico de gallo  and av...

          menus.name                               name postalCode  \
0               Taco                    Gambino's Pizza      66002
1               Taco                    Gambino's Pizza      66002
2   Smotherd Burrito  Diablo Grande Golf & Country Club      95363
3    Sausage Burrito                         Mcdonald's      80504
4  Wahoo Tacogrilled           Baja Fresh Mexican Grill      90048

  priceRangeCurrency priceRangeMin priceRangeMax      province  \
0                NaN           NaN           NaN            KS
1                NaN           NaN           NaN            KS
2                NaN           NaN           NaN       Grayson
3                NaN           NaN           NaN         Niwot
4                USD           0.0          25.0  Bicentennial

                       websites
0  http://www.gambinospizza.com
1  http://www.gambinospizza.com
2  http://www.diablogrande.com/
3          http://mcdonalds.com
4          http://bajafresh.com

[5 rows x 26 columns]

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77260 entries, 0 to 77259
Data columns (total 26 columns):
id                    77260 non-null object
address               77260 non-null object
categories            77260 non-null object
city                  77260 non-null object
country               77260 non-null object
cuisines              38384 non-null object
dateAdded             77260 non-null object
dateUpdated           77260 non-null object
keys                  77260 non-null object
latitude              55636 non-null float64
longitude             55636 non-null float64
menuPageURL           10054 non-null object
menus.amountMax       40260 non-null float64
menus.amountMin       40260 non-null float64
menus.category        3729 non-null object
menus.currency        40511 non-null object
menus.dateSeen        77260 non-null object
menus.description     29323 non-null object
menus.name            77260 non-null object
name                  77257 non-null object
postalCode            76837 non-null object
priceRangeCurrency    48159 non-null object
priceRangeMin         48159 non-null float64
priceRangeMax         48159 non-null float64
province              77257 non-null object
websites              55989 non-null object
dtypes: float64(6), object(20)
memory usage: 15.3+ MB

In [49]:
data.describe()

,latitude,longitude,menus.amountMax,menus.amountMin,priceRangeMin,priceRangeMax
count,55636.000000,55636.000000,40260.000000,40260.000000,48159.000000,48159.000000
mean,36.694846,-98.713309,8.754767,8.611666,13.734837,33.722627
std,4.835124,18.245857,18.408596,15.708317,14.704344,10.395812
min,-31.986438,-159.492690,0.000000,0.000000,0.000000,5.000000
25%,33.668355,-117.647150,5.000000,5.000000,0.000000,25.000000
50%,36.047195,-96.682320,7.950000,7.950000,25.000000,40.000000
75%,40.588380,-82.679930,10.500000,10.390000,25.000000,40.000000
max,61.219460,115.903696,1990.000000,1290.000000,378.000000,755.000000

In [50]:
data.corr()

,latitude,longitude,menus.amountMax,menus.amountMin,priceRangeMin,priceRangeMax
latitude,1.000000,0.159983,0.005086,0.004581,-0.005511,-0.007551
longitude,0.159983,1.000000,0.024715,0.035003,0.066787,0.048061
menus.amountMax,0.005086,0.024715,1.000000,0.931153,0.037643,0.042134
menus.amountMin,0.004581,0.035003,0.931153,1.000000,0.050060,0.054541
priceRangeMin,-0.005511,0.066787,0.037643,0.050060,1.000000,0.906294
priceRangeMax,-0.007551,0.048061,0.042134,0.054541,0.906294,1.000000

In [51]:
newData = data[data.province == 2]

In [52]:
data.columns

Empty DataFrame
Columns: [id, address, categories, city, country, cuisines, dateAdded, dateUpdated, keys, latitude, longitude, menuPageURL, menus.amountMax, menus.amountMin, menus.category, menus.currency, menus.dateSeen, menus.description, menus.name, name, postalCode, priceRangeCurrency, priceRangeMin, priceRangeMax, province, websites]
Index: []

[0 rows x 26 columns]